*{
    padding: 0;
    margin: 0;
}

/* 清除浮动，别看了 */
.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}
/* 清除浮动，别看了 */

/* 字体声明 */
@font-face {
    font-family: 'icomoon';
    src:  url('fonts/icomoon.eot?jkzcnc');
    src:  url('fonts/icomoon.eot?jkzcnc#iefix') format('embedded-opentype'),
      url('fonts/icomoon.ttf?jkzcnc') format('truetype'),
      url('fonts/icomoon.woff?jkzcnc') format('woff'),
      url('fonts/icomoon.svg?jkzcnc#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
/* 字体声明 */

body{
    background: url(imgs/background.jpg) repeat;
    background-size: 100%;
}


.w{
    width: 1200px;
    margin: auto;
}

a{
    text-decoration: none;
}

.main{
    position: relative;
    background: url(imgs/ice3.jpg) no-repeat fixed;
    background-size: 100%;
    width: 100%;
    height: 400px;
}

.bj{
    position: absolute;
    left: 50%;
    margin-left: -125px;
    top: 200px;
    font-size: 45px;
    font-weight: 600;
    color: white;
}

.header{
    height: 70px;
    width: 100%;
    margin:  auto;
    background-color: rgb(128,128,128,0.3);
    position: fixed;
    top: 0px;
}

.logo{
    float: left;
     margin-left: 160px;
     border-radius: 50%;
     overflow: hidden;
     width: 70px;
     height: 70px;
} 

img{
    height: 100%;
    width: 100%;
}

.owner{
    float: left;
    padding-left: 20px;
    font-size: 20px;
    height: 70px;
    line-height: 70px;
   
}

li{
    list-style: none;
}

.nav li{
    float: right;
}

.nav li a{
    display: block;
    font-size: 20px;
    line-height: 70px;
    height: 70px;
    width: 100px;
    font-weight: 400;
    color: aliceblue;
    text-align: center;
    font-family: 'icomoon';
}

.nav .last1{
    margin-right:200px;
}

.nav li:hover{
    background-color: rgb(135, 206, 235,0.3);
    border-bottom: 2px solid whitesmoke;
}

.left{
    float: left;
}

.right{
    float: right;
}


.menu{
    float: right;
    width: 278px;
    height: 700px;
    margin-top: 18px;
    border: 1px solid black;
    background-color: white;
    border-radius: 20px;
    position: sticky;
    top: 70px;
}

.text{
    width: 878px;
    margin-left: 10px;
    float: left;
    border: 1px solid black;
    border-radius: 20px;
    margin-top: 18px;
    background-color: white;
    padding-left: 20px;
    padding-top: 20px;
}

.lot{
    margin-top: 30px;
}

.footer{
    position: relative;
    width: auto;
    height: 108px;
    background-color: rgba(129, 195, 243,0.9);
    margin-top: 30px;
    border-radius: 10px;
}

.designed{
    position: absolute;
    left: 100px;
    top: 20px;
    font-size: 20px;
    width: 250px;
    color: white;
}

.connection{
    font-family: 'icomoon';
    position: absolute;
    right:100px ;
    height: 108px;
    line-height: 108px;
    font-size: 30px;
}

.connection li{
    float: right;
    margin-right: 30px;
}

.connection li a{
     color: white;
}

.list li a{
    color: black;
    font-size: 20px;
}

.list li{
    margin: 15px 30px;
}

.list .first-list{
    margin-top: 30px;
}

.list .first-list a{
    font-size: 25px;
    font-weight: 500;
}

.list .first-list span{
    font-family: 'icomoon';
    font-size: 20px;
}

table tr td{
    border: 1px solid gray;
}

table{
    border-collapse: collapse;
}

.gap{
    margin-bottom: 30px;
}
